@model IEnumerable<ForensicBones5.Models.InventarioCranio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventarioEsqueletoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoCranio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frontal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocipital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esfenoide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maxilar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalEsq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalEsq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalEsq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtmoideEsq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalEsq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasalEsq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoEsq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalDir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalDir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalDir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtmoideDir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalDir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoDir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hioide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartilagemTireoide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mandibula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontalDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OcipitalDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsfenoideDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxilarDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VomerDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalEsqDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalEsqDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalEsqDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtmoideEsqDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalEsqDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasalEsqDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoEsqDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalDirDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalDirDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalDirDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtmoideDirDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalDirDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoDirDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HioideDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartilagemTireoideDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MandibulaDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioEsqueleto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioEsqueletoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoCranio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frontal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocipital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esfenoide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maxilar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalEsq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalEsq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalEsq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtmoideEsq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalEsq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasalEsq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoEsq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtmoideDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hioide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartilagemTireoide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mandibula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontalDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OcipitalDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsfenoideDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxilarDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VomerDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalEsqDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalEsqDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalEsqDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtmoideEsqDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalEsqDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasalEsqDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoEsqDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalDirDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalDirDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalDirDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtmoideDirDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalDirDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoDirDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HioideDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartilagemTireoideDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MandibulaDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioEsqueleto.InventarioEsqueletoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventarioCranioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventarioCranioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventarioCranioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
