@model IEnumerable<ForensicBones5.Models.InventarioEsqueleto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RelatorioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoEsqueleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relatorio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RelatorioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoEsqueleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relatorio.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventarioEsqueletoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventarioEsqueletoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventarioEsqueletoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
